body {
    background-color: #252830;
    color: #CFD2DA;
    font-family: Helvetica, serif;
    max-width: 1200px;
    margin: auto;
}

hr {
    text-align: center;
    width: 90%;
    border: thin #CFD2DA solid;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: thin #434857 solid;
}

#logo {
    margin: 38px 0 0 25px;
    text-align: center;
    width: 100%;
}
#logo p:nth-child(1) {
    color:#fff;
    font-size: 26px;
}
#logo p:nth-child(2) {
    color: #00a5e0;
    font-size: 12px;
    margin-top: -20px;
}


#contact_header {
    margin: 12px 25px 0 0;
    text-align: center;
    width: 100%;
}
#contact_header p:nth-child(1) {
    color: #00a5e0;
    font-size: 12px;
    margin-bottom: -5px;
    margin-top: 14px;
}
#contact_header p:nth-child(2) {
    color:#fff;
    font-size: 26px;
    
}
#contact_header p:nth-child(3) {
    color: #929292;
    font-size: 18px;
    margin-top: -23px;
}

#icon{
    display: flex;
    justify-content:space-around;
    margin-top: 36px;
    /*width: 320px;*/
    width: 100%;
    cursor: pointer;
}

.icon_border{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px #434857 solid;
    height: 45px;
    width: 45px;
}

#icon a{
    color: #CFD2DA;  
}


#section_banner {
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    margin-top: 0;
}

#banner_logo {
    background-color: rgba(255, 255, 255, 0.1);
    height: 183px;
    top: 240px;
    left: 180px;
    position: relative;
    text-align: center;
    width: 432px;
}

#banner_logo p:nth-child(1) {
    color:  #cfd2da;
    font-size: 16px;
    padding-top: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
#banner_logo p:nth-child(2) {
    color:  #fff;
    margin-top: -20px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
#banner_logo p:nth-child(3) {
    color:  #cfd2da;
    margin-top: -15px;
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

#section_lme {
    display: flex;
    justify-content: space-around;
    border-top: thin #434857 solid;
    padding-top: 50px;
    /*border-bottom: thin #434857 solid; */
    padding-bottom: 30px;
}

#lme_logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80px;
}

#lme_logo p:nth-child(1){
    grid-column: 1/3;
    grid-row: 1;    
    color:#9f86ff;
    font-size: 16px;
    text-align: center;
    
}
#lme_logo p:nth-child(2){
    grid-column: 1;
    grid-row: 2;    
    color:#9f86ff;
    font-size: 40px;
    font-weight: bold;
    margin-top: -25px;
}
#lme_date {
    grid-column: 1/3;
    grid-row: 3;    
    color:#e4d836;
    font-size: 16px;
    text-align: center;
    margin-top: -25px;
}
.lme_logo_unit {
    grid-column: 2;
    grid-row: 2;
    background-color: #1997c6;
    border-radius: 3px;
    color: #fff;
    height: 28px;
    padding-top: 4px;
    font-size: 14px;
    width: 90px;
    text-align: center;
    margin-top: -12px;
    margin-left: 30px;
}


.lme_metal {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 1fr 1fr 1fr;

    border: thin #1997c6 solid;
    color: #1997c6;
    height: 80px;
    text-align: center;
    width: 100px;
}
.lme_val {
    grid-column: 2;
    grid-row: 1;

    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}
.lme_name {
    grid-column: 1;
    grid-row: 2;

    font-size: 30px;
    font-weight: bold;
    margin-top: -13px;
}
.lme_metal p {
    grid-column: 1/3;
    grid-row: 3;
    /*border: thin #fff solid;*/
    font-size: 14px;
    margin-top: -2px;
}

#lme_price_al
,#lme_price_cu
,#lme_price_zn
,#lme_price_ni
,#lme_price_pb
,#lme_price_sn
{
    grid-column: 2;
    grid-row: 2;
    border-radius: 3px;
    color: #fff;
    height: 28px;
    padding-top: 4px;
    font-size: 14px;
    text-align: center;
    width: 70px;
    margin-left: 12px; 
}
#lme_price_al {
    background-color: #1bc98e;
}
#lme_price_cu {
    background-color: #1bc98e;
}
#lme_price_zn {
    background-color: #1bc98e;
}
#lme_price_ni {
    background-color: #1bc98e;
}
#lme_price_pb {
    background-color: #1bc98e;
}
#lme_price_sn {
    background-color: #1bc98e;
}

@media (max-width:1080px){
    #lme_price_al ,#lme_price_cu ,#lme_price_zn ,#lme_price_ni ,#lme_price_pb ,#lme_price_sn {
        grid-column: 2;
        grid-row: 2;
        border-radius: 3px;
        color: #fff;
        height: 24px;
        padding-top: 3px;
        font-size: 12px;
        text-align: center;
        width: 55px;
        margin-left: 12px; 
    }
}     
@media (max-width:990px){

    #contact_header p:nth-child(2) {
        color:#fff;
        font-size: 18px;
    }    
    
    #icon{
        display: flex;
        justify-content:space-around;
        margin-top: 36px;
        cursor: pointer;
    }
    
    
    .lme_metal {
        display: grid;
        grid-template-columns: 50px 50px;
        grid-template-rows: 1fr 1fr 1fr;

        border: thin #1997c6 solid;
        color: #1997c6;
        height: 80px;
        text-align: center;
        width: 100px;
    }
    .lme_val {
        grid-column: 2;
        grid-row: 1;

        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
    }
    
    .lme_name {
        grid-column: 1;
        grid-row: 2;

        font-size: 25px;
        font-weight: bold;
        margin-top: -20px;
        margin-left: -8px;
    }
    .lme_metal p {
        grid-column: 2;
        grid-row: 2;
        /*border: thin #fff solid;*/
        color:  #00A5E0;
        font-size: 12px;
        margin-top: -2px;
        margin-left: -18px;
    }    
    
    #lme_price_al
    ,#lme_price_cu
    ,#lme_price_zn
    ,#lme_price_ni
    ,#lme_price_pb
    ,#lme_price_sn
    {
        grid-column: 1/3;
        grid-row: 3;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        height: 24px;
        width: 55px;
        margin-top:-10px;
        margin-left: 20px; 
    } 

}
@media (max-width:800px){

    #logo p:nth-child(1) {
        color:#fff;
        font-size: 18px;
    }
    
    #logo p:nth-child(2) {
        color: #00a5e0;
        font-size: 10px;
        margin-top: -20px;
    }



    #lme_logo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 80px;
        text-align: center;
    }
    #lme_logo p:nth-child(1){
        grid-column: 1;
        grid-row: 1;    
        color:#9f86ff;
        font-size: 12px;
        text-align: center;
    }
    #lme_logo p:nth-child(2){
        grid-column: 1;
        grid-row: 2;    
        color:#9f86ff;
        font-size: 40px;
        font-weight: bold;
        margin-top: -25px;
    }
    #lme_date {
        grid-column: 1;
        grid-row: 3;    
        color:#e4d836;
        font-size: 12px;
        font-weight: bold;
        margin-top: -25px;
    }    
    .lme_logo_unit{
        display: none;
    }
}
@media (max-width:740px){
    #lme_logo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80px;
        text-align: center;
    }
    #lme_logo p:nth-child(1){
        display: none;
    }
    #lme_logo p:nth-child(2){
        grid-column: 1;
        grid-row: 1;    
        color:#9f86ff;
        font-size: 30px;
        font-weight: bold;
        margin-top: 15px;
    }
    #lme_date {
        grid-column: 1;
        grid-row: 1;    
        color:#e4d836;
        font-size: 12px;
        font-weight: bold;
        margin-top: 55px;
    }    
    .lme_logo_unit{
        display: none;
    }
}
@media (max-width:685px){
    
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #logo {
        margin: 38px 0 0 25px;
        text-align: center;
    }
    #logo p:nth-child(1) {
        color:#fff;
        font-size: 26px;
    }
    #logo p:nth-child(2) {
        color: #00a5e0;
        font-size: 12px;
        margin-top: -20px;
    }


#contact_header {
    margin: 12px 25px 0 0;
    text-align: center;
}
#contact_header p:nth-child(1) {
    color: #00a5e0;
    font-size: 12px;
    margin-bottom: -5px;
    margin-top: 14px;
}
#contact_header p:nth-child(2) {
    color:#fff;
    font-size: 26px;
    
}
#contact_header p:nth-child(3) {
    color: #929292;
    font-size: 18px;
    margin-top: -23px;
}    
    
    
    #lme_logo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80px;
        text-align: center;
    }
    #lme_logo p:nth-child(1){
        display: none;
    }
    #lme_logo p:nth-child(2){
        grid-column: 1;
        grid-row: 1;    
        color:#9f86ff;
        font-size: 25px;
        font-weight: bold;
        margin-top: 5px;
    }
    #lme_date {
        grid-column: 1;
        grid-row: 1;    
        color:#e4d836;
        font-size: 9px;
        font-weight: bold;
        margin-top: 40px;
    }    
    .lme_logo_unit{
        display: none;
    }
}




/*---------------------------------------------*/
#section_westroute {
    display: flex;
    justify-content: space-around;

    border-top: thin #434857 solid;
    border-bottom: thin #434857 solid;
    padding: 50px 0 50px 0;
    
    margin-top: 20px;
}

#westroute_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: thin #1997c6 solid;
    border-radius: 5px;
    height: 300px;
    text-align: center;
    width: 350px;
}
.westroute_about_header {
    font-size: 26px;
    color: #fff;
    width: 277px;
    height: 37px;
    margin-top: -18px;
    background-color: #252830;
}
.westroute_about_header2 {
    color: #00a5e0;
    font-size: 14px;
    margin-top: -10px;
}
#westroute_about p{
    color: #cfd2da;
    margin-left: 23px;
    text-align: left;
    width: 310px;
    font-size: 16px;
}

#westroute_metal {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

    border-top: thin #1997c6 solid; 
    height: 300px;
    width: 680px;
}
.westroute_metal_header {
    font-size: 26px;
    color: #fff;
    width: 410px;
    height: 37px;
    margin-top: -18px;
    margin-left: 27px;
    background-color: #252830;
    text-align: center;
}
.westroute_metal_header2 {
    color: #00a5e0;
    font-size: 14px;
    margin-top: -35px;
}
.westroute_metal_groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
}

.westroute_metal_group {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    border: thin #1997c6 solid;
    border-radius: 3;
    font-size: 14px;
    width:  215px;
    text-align: center;
}
.westroute_metal_group_header {
    background-color: #252830;
    height: 20px;
    width: 173px;
    color: #bcabff;
    margin-top: -10px;
}
.westroute_metal_group ul {
    color: #00d18b;
    line-height: 1.3;
    width: 250px;
    margin-left: -15px;
    text-align: left;
}
.westroute_metal_group:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1; 
    height: 148px;
    margin-top: -30px;
} 
.westroute_metal_group:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1; 
    height: 148px;
    margin-top: -30px;
    margin-left: -16px;
}    
.westroute_metal_group:nth-child(3) {
    grid-column: 5/7;
    grid-row: 1; 
    height: 148px;
    margin-top: -30px;
}    
.westroute_metal_group:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2; 
    height: 62px;
}    
.westroute_metal_group:nth-child(5) {
    grid-column: 4/6;
    grid-row: 2; 
    height: 62px;
}    

/*---------------------------------------------*/
#section_contact_footer {
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
    height: 312px;
    padding: 25px 0 25px 0;
}

#contact_footer_map {
    border: thin #1997c6 solid;
    padding: 5px;
    
}

#contact_footer_txt {
    width: 100%;
}

#cnt{
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.contact_footer {
    display: flex;
    justify-content: space-around;
}

.contact_footer p:nth-child(1) {
    color: #00a5e0;
}
.contact_footer p:nth-child(2) {
    width: 50%;
}

.mx_color_blue {
    color: #00a5e0;    
}

/*---------------------------------------------*/
footer {
    display: flex;
    justify-content: space-between;
    
    margin-top: 90px;
    padding-top: 10px;
    border-top: thin #434857 solid;
}

#maxsa_copyright {
    text-align: center;
}
#maxsa_copyright p:nth-child(1) {
    color:#fff;
    font-size: 26px;
}
#maxsa_copyright p:nth-child(2) {
    color: #00a5e0;
    font-size: 12px;
    margin-top: -20px;    
}


#westroute_copyright {
    text-align: center;
}

#westroute_copyright p:nth-child(1) {
    color:#fff;
    font-size: 26px;
}
#westroute_copyright p:nth-child(2) {
    color: #00a5e0;
    font-size: 12px;
    margin-top: -20px;
}


